.card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 10%;
  background-color: var(--card-bg-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.card:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}

.card.filled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
